- provide(:title, "Log in")

.row
    .col-md-6.offset-md-3
        %h1.mb-4.text-center Log in
        = form_for :session, url: login_path do |f|

            .form-group
                = f.label :email
                = f.email_field :email, class: 'form-control'

            .form-group
                = f.label :password
                = f.password_field :password, class: 'form-control'

            = f.submit "Log in", class: "w-100 btn btn-primary"
        %p
            New user? &nbsp;
            = link_to "Sign up now!", signup_path