- provide(:title, 'All users')

%h1.text-center All users
= will_paginate inner_window: 2, outer_window: 0
%ul.users
    - @users.each do |user|
        %li.d-flex.align-items-center.justify-content-between
            %div
                = gravatar_for user, size: 50
                = link_to user.name, user
            - if current_user.admin? && !current_user?(user)
                = link_to 'Delete user', user, method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: 'You sure?' }
= will_paginate inner_window: 2, outer_window: 0
